@use 'import' as *;

/* 세로선 (thumb과 함께 이동) */
.trackLine {
  position: absolute;
  top: 0;
  left: 50%; /* 초기 위치 */
  width: 6px;
  height: 100%;
  background-color: rgba(255, 255, 255);
  border-left: 1px solid black;
  border-right: 1px solid black;
  transform: translateX(-50%);
  z-index: 998;
}

.swiper__input {
  appearance: none;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* 기본 트랙을 완전히 숨김 (모든 브라우저 대응) */
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0;
    background: transparent;
    border: none;
  }

  &::-moz-range-track {
    width: 100%;
    height: 0;
    background: transparent;
    border: none;
  }

  &::-ms-track {
    width: 100%;
    height: 0;
    background: transparent;
    border: none;
    color: transparent; /* IE 대응 */
  }

  background: transparent;

  margin: 0;
  z-index: 999;

  &:focus {
    outline: none;
  }

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.swiper__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;

  width: 58px;
  height: 58px;
  background: url('/assets/swipe-handle-inactive.svg') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: ew-resize;
  position: relative;

  &:hover {
    background: url('/assets/swipe-handle-hover.svg') no-repeat center center;
  }
  &:active {
    background: url('/assets/swipe-handle-pressed.svg') no-repeat center center;
  }

  &::-webkit-slider-thumb,
  &::-ms-thumb &::-moz-range-thumb {
    appearance: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    width: 58px;
    height: 58px;
    background: url('/assets/swipe-handle-inactive.svg') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: ew-resize;
    position: relative;

    &:hover {
      background: url('/assets/swipe-handle-hover.svg') no-repeat center center;
    }
    &:active {
      background: url('/assets/swipe-handle-pressed.svg') no-repeat center
        center;
    }
  }

  /* Edge, IE에서 기본 스타일 제거 */
  &::-ms-fill-lower {
    background: transparent;
  }

  &::-ms-fill-upper {
    background: transparent;
  }
}
