@use 'import' as *;

.swiper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%; /* 전체 부모 영역 차지 */
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;

  /* 트랙을 숨김 */
  &::-webkit-slider-runnable-track,
  &::-moz-range-track,
  &::-ms-track {
    background: transparent;
    border: none;
  }

  /* Thumb (핸들) */
  &::-webkit-slider-thumb,
  &::-moz-range-thumb,
  &::-ms-thumb {
    appearance: none;
    width: 58px;
    height: 58px;
    background: url('/assets/swipe-handle-active.svg') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: grab;
    position: relative;
    z-index: 20;
  }
}

/* 세로선 (thumb과 함께 이동) */
.trackLine {
  position: absolute;
  top: 0;
  left: 50%; /* 초기 위치 */
  width: 4px;
  height: 100%;
  background-color: rgba(255, 255, 255);
  transform: translateX(-50%);
  z-index: 15;
}
