@use 'import' as *;

.panel {
  background-color: lightgoldenrodyellow;

  min-width: 400px;
  height: 100%;

  // position: relative;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0; // 항상 왼쪽에 고정

  transform: translateX(0);
  transition: transform 0.3s ease-in-out;

  &.closed {
    transform: translateX(-100%);
  }

  .toggle__button {
    z-index: 100;

    position: absolute;
    top: 50%;
    right: -36px;

    transform: translate(0, -50%);

    width: 36px;
    height: 120px;

    border: 1px solid black;
    background-color: white;
  }
}
