@font-face {
    font-family: 'NanumPenScript';
    src: url('../public/font/NanumPenScript-Regular.ttf');
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'NanumPenScript', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

ul,
li {
    cursor: pointer;
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #2ab7cd;
}
